<% @posts.each do |post| %>
  <div class="mainWrap">
    <div class="row">
      <div class="col-sm-2">
        <%#= image_tag 'sampleImage1200x628.gif', class: 'img-fluid' %>
        <%#= image_tag 'sampleImageCard.gif', class: 'img-fluid imgSmall' %>
      </div>

      <div class="col-sm-10">
        <i class="far fa-sticky-note"></i> <%= link_to post.title, post %>

        <div class="">
          <%= simple_format(truncate(post.content, length: 40, separator: ' ')) %>
        </div>


      </div>
      <div class="col-sm-12 text-right">
        <i class="fas fa-pencil-alt"></i> <%= post.name %>
        <!--<%= link_to '詳細', post, class: 'btn btn-sm btn-success' %>-->
        <!--<%= link_to '編集', edit_post_path(post), class: 'btn btn-sm btn-warning' %>-->
        <!--<%= link_to '削除', post, method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: 'Are you sure?'} %>-->
        <i class="far fa-clock"></i> <%= post.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M:%S') %>
      </div>
    </div>
  </div>

<% end %>